<!-- <button class="btn btn-primary mr-1 " (click)="edit()">Изменить</button> -->
<button class="btn btn-primary" (click)="create()">Добавить товар</button>


<table *ngIf="($prods | async) as prods" class="table table-hover mt-3">
    <thead class="thead-light">
        <th>id</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Кол-во</th>
        <th>Цена</th>
    </thead>
    <tbody>
        <tr *ngFor="let prod of prods; index as i" (click)="edit(prod.id)">
            <th>{{prod.id}}</th>
            <td>{{prod.name}}</td>
            <td>{{prod.number}}</td>
            <td>{{prod.category}}</td>
            <td>{{prod.price}}</td>
        </tr>
    </tbody>
</table>