<ngb-carousel
  [interval]="0"
  class="mb-4 mx-n3 mx-xl-0"
  *ngIf="images$ | async | random: 5 as images"
>
  <ng-template *ngFor="let img of images" ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="img" alt="Random first slide" />
    </div>
    <div class="carousel-overlay">
      <div class="carousel-caption">
        <h1 class="display-4 text-light">Распродажа одежды</h1>
      </div>
    </div>
  </ng-template>
</ngb-carousel>

<!-- [appHover] -->
<!-- *cardItem="let product" -->
<!-- [routerLink]="['details']" -->
<!-- [queryParams]="{ key: product.key, bar: 'bar' }" -->
<div class="panel p-3 text-right mb-3">
  <svg
    width="1.5rem"
    height="1.5rem"
    viewBox="0 0 16 16"
    class="bi bi-filter-circle"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
    />
    <path
      fill-rule="evenodd"
      d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"
    />
  </svg>
  <svg
    (click)="toggleView()"
    width="1.5rem"
    height="1.5rem"
    viewBox="0 0 16 16"
    class="ml-3"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M6 1H1v14h5V1zm9 0h-5v5h5V1zm0 9h-5v5h5v-5zM0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm1 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1h-5z"
    />
  </svg>
</div>
<app-products-view [mode]="mode" [products]="products$ | async">
  <div
    *cardItem="let product"
    appHover
    [routerLink]="['details']"
    [queryParams]="{ key: product.key, bar: 'bar' }"
  >
    <app-card [mode]="mode" [product]="product"></app-card>
  </div>
  <!-- <div
    class="card mb-3"
    *cardItem="let product"
    appHover
    [routerLink]="['details']"
    [queryParams]="{ key: product.key, bar: 'bar' }"
  >
    <div class="card-img-top overflow-hidden">
      <button
        [class.active]="isFollow(product.key)"
        class="btn-follow rounded-circle border-0 bg-white p-1 text-center"
        (click)="toggleFollow($event, product.key)"
        type="button"
      >
        <svg
          width="1.5rem"
          height="1.5rem"
          viewBox="-2 -2 19 19"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            stroke="#343a40"
            stroke-width="1.5"
            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
          />
        </svg>
      </button>
      <img
        ondragstart="return false;"
        src="{{ product.img }}"
        alt="img product"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title text-truncate">
        {{ product.name ? product.name : "&nbsp;" }}
      </h5>
      <div class="d-flex flex-wrap mb-3">
        <span
          *ngFor="let size of getSizes(product.size)"
          class="badge font-weight-light"
          [class.text-muted]="size.muted"
          >{{ size.value }}</span
        >
      </div>
      <div class="mb-1">{{ product.category }}</div>
      <div class="font-weight-bold price">
        {{ product.price | currency: "RUB":"symbol-narrow":"1.0-2" }}
      </div>
    </div>
  </div> -->
</app-products-view>
