<div appHover *ngIf="product" class="card mb-3">
	<div class="card-img-top overflow-hidden">
		<!-- <ng-content>
		</ng-content> -->
		<ng-container *ngTemplateOutlet="cardIcon?.tmpRef"></ng-container>
		<!-- <button *ngIf="icon" [class.active]="isFollow"
			class="btn-follow rounded-circle border-0 bg-white p-1 text-center" (click)="goToFollow($event)"
			type="button">



			<svg width="1.5rem" height="1.5rem" viewBox="-2 -2 19 19" fill="currentColor"
				xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" stroke="#343a40" stroke-width="1.5"
					d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />

			</svg>
		</button> -->
		<img ondragstart="return false;" src="{{product.img}}" alt="img product">
	</div>
	<div class="card-body">
		<!-- <svg class="bi" width="1em" height="1em" fill="currentColor">
			<use xlink:href="bootstrap-icons.svg#heart-fill"></use>
		</svg> -->
		<div class="d-flex flex-wrap mb-3">
			<span *ngFor="let size of sizes" class="badge font-weight-light"
				[class.text-muted]="size.muted">{{size.value}}</span>
		</div>
		<div>{{product.category}}</div>
		<div class=" font-weight-bold">{{product.price | currency:"RUB":"symbol-narrow"}}</div>
	</div>
</div>
<!-- [@aminHover]="true" -->