<div class="row m-0">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let prod of products">
    <ng-container
      *ngTemplateOutlet="cardItem; context: { $implicit: prod }"
    ></ng-container>
  </div>
</div>

<!-- <div [appHover] *ngIf="product" class="card mb-3">
  <div class="card-img-top overflow-hidden">
    <ng-template *ngTemplateOutlet="cardIcon?.tmpRef"></ng-template>
    <img
      ondragstart="return false;"
      src="{{ product.img }}"
      alt="img product"
    />
  </div>
  <div class="card-body">
    <div class="d-flex flex-wrap mb-3">
      <span
        *ngFor="let size of sizes"
        class="badge font-weight-light"
        [class.text-muted]="size.muted"
        >{{ size.value }}</span
      >
    </div>
    <div class="mb-1">{{ product.category }}</div>
    <div class="font-weight-bold price">
      {{ product.price | currency: "RUB":"symbol-narrow":"1.0-2" }}
    </div>
  </div>
</div> -->
