<h1 class="text-center title p-3 mb-3 mx-n3 mx-xl-0">Избранное</h1>
<!-- [queryParams]="{ key: product.key, bar: 'bar' }" -->
<!-- [routerLink]="['/shop/details']" -->
<app-products-view [products]="followProducts$ | async">
  <div class="card mb-3 border-0 rounded-0" *cardItem="let product">
    <div class="card-img">
      <button
        class="btn-follow-delete rounded-circle border-0 bg-white p-1 text-center"
        type="button"
        (click)="deleteFollow(product.key)"
      >
        <svg
          width="1.5em"
          height="1.5em"
          viewBox="0 0 16 16"
          class="bi bi-trash"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
          />
          <path
            fill-rule="evenodd"
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
          />
        </svg>
      </button>
      <img
        ondragstart="return false;"
        src="{{ product.img }}"
        alt="img product"
      />
    </div>
    <div class="card-body">
      <div class="font-weight-bold price mb-4 text-secondary">
        {{ product.price | currency: "RUB":"symbol-narrow":"1.0-2" }}
      </div>
      <div class="mx-n3">
        <div class="border-top border-bottom p-2 text-muted mb-4">
          {{ product.category }}
        </div>
        <form>
          <div class="form-group">
            <input
              class="form-control"
              type="number"
              min="1"
              placeholder="Кол-во"
            />
          </div>
          <div class="form-group">
            <select class="form-control">
              <option disabled selected>Размер</option>
              <option value="1">1</option>
              <option value="1">1</option>
              <option value="1">1</option>
              <option value="1">1</option>
            </select>
          </div>
          <button class="btn btn-success w-100">В КОРЗИНУ</button>
        </form>
      </div>
    </div>
  </div>
</app-products-view>
