.title {
  background-color: #eee;
}

.btn-follow-delete {
  color: #343a40;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1.5rem;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 15;
  outline: none;
}

.price {
  font-size: 1.5rem;
}

.card-img {
  padding-top: 127.7778%;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(9, 102, 24, 0.25);
}
