<header class="header">
	<!-- <div class="jumbotron">
		<h1 class="display-4">Распродажа одежды</h1>
	</div> -->
	<header class="header mb-4">
		<button [routerLink]="['follow-list']" class="btn btn-primary ml-auto d-block">Follow List</button>

	</header>
	<ngb-carousel [interval]="1000" class="mb-4" *ngIf="(images$ | async) as images">
		<ng-template *ngFor="let img of images" ngbSlide>
			<div class="picsum-img-wrapper ">
				<img [src]="img" alt="Random first slide">
			</div>
			<div class="carousel-overlay">
				<div class="carousel-caption">
					<h1 class="display-4 ">Распродажа одежды</h1>
				</div>
			</div>
		</ng-template>
	</ngb-carousel>
</header>

<main>
	<div class="row">
		<app-product-card class="col-6 col-md-4 col-lg-3 " *ngFor="let product of products$ | async "
			[routerLink]="['./', product.key]" [queryParams]="{ foo: 'foo', bar:'bar' }" [product]='product'>
		</app-product-card>
	</div>

</main>